body{
    margin: 0;
    background-color: rgba(250, 205, 224, .2);
}

#header{
    background-image: url("../img/pexels-artem-beliaikin-433539.jpg");
    background-position: center;
    background-size: cover;
    opacity: 80%;
    height: 30%;
    margin:0;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 4rem;
    margin: 0;
    color:#801d48;
    

    
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    text-align: center;
    color:#801d48;
    margin-bottom: 4%;
}

h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
    text-align: center;
    color:#801d48;
}

#Zinzy{
    padding: 2rem;
    top: 100px;
    
    
    
}

nav  ul{
    margin:0;
    padding: 0.25rem;
    text-decoration: none;
    background-color: #f7d5e6;
    text-align: center;
	margin-bottom: 5px;
    z-index:1;
}

nav ul li{
    
    display: inline-block;
    font-size: 2rem;
    padding: 5px;
    margin-left: 50px;
    color:#801d48;
    text-decoration: none;
    
}
a{
    text-decoration: none;
    color:#801d48;
}

a:visited{

    color:#801d48;
}

.container{
 
    height: 35rem;
    margin-left: 10%;
}

.hasab{
    width: 28%;
    float: left;
    
    margin: 1%;
	
}



.kep{
    width: 100%;
    border-radius: 50%;
   
    box-shadow: 0 6px 100px 0 rgba(0, 0, 0, 0.19);
}

.container p{
    color:#801d48;
    margin-left: 50px;
    margin-right: 50px;
}

.kep p{
    text-align: justify;
    padding: 5px;
}


#kapcsolat{
    background-color:   #f7d5e6;
    padding: 10px;
}


#stripe{
    background-image: url('../img/pexels-artem-beliaikin-2624853.jpg');
    height: 300px;
    background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   margin: 0px;
   opacity: 80%;
   z-index: -1;
   position: relative;
}

#idezet p{
    font-size: 35px;
   color :#801d48;
    text-align: center;
    opacity: 500%;
    margin:0px;
    font-family: cursive;
}

#stripe img{
width: 30px;
opacity: 50%;

}

#felso{
    float:right;
    clear:left;
}

#also{
    float: left;
}

#idezet{
    margin: auto;
    padding-top:100px;
    width: 75%;
}

.arlistakep{
    width: 100%;
    box-shadow:  0 6px 100px 0 rgba(0, 0, 0, 0.19);
   
}

#arlistaContainer{
	height: 400px;
}



#hasab3, #hasab2 p{
	 text-align:center;
 }

.hirekhasab{
    display: block;
    border: 2px solid  #f7d5e6;
    width: 75%;
    border-radius: 10px;
    padding: 10px;
    margin: 10px auto;
    overflow: auto;
    
}


 
.hirekhasab img{
    width:12%;
    float: right;
    margin: 3px;
    padding: 2px;
    
}

.hirehasab p{
    width: 50%;
    margin: 10px;
}

.hirekcontainer{
    margin-bottom: 50px;
   
}

.kapcsolathasab{
    width: 48%;
    float: left;

}

.kapcsolathasab p{
    font-size: 20px;
    text-align: center;
    

}

.kapcsolathasab img{
    width: 80%;
}

button{
    background-color:  #f7d5e6;
    border-radius: 4px;
    color: #801d48;
    padding: 15px 10px;
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    display: block;
    border: 1px solid #801d48;
    width: 150px;
    margin-bottom: 5px;
  
}


#gombok{
  float: left;
  
  
	
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
   
  }

div.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
  }

#facebook{
    
    width: 20px;
}

#osziszinek{
  width: 40%;
}
  





